.about__marmoleum {
  padding: 80px 0;
  width: 25%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  background-color: #7b7c6e;
  border: 2px solid #f2d78f;
  padding-left: 50px;
  @media (max-width: 1050px) {
    padding-left: 10px;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.about__marmoleum-title {
  font-size: 32px;
  color: #f2d78f;
  font-weight: 300;
  line-height: 34px;
  padding-right: 10px;
}

.about__marmoleum-list {
  margin-top: 10px;
  list-style: none;
}

.about__marmoleum-item {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
}

.about__marmoleum-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #f2d78f;
  }
}
