.footer {
  background-color: #524d4d;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  @media (max-width: 1500px) {
    padding: 30px;
  }
  @media (max-width: 900px) {
    padding: 20px 5px;
  }
}

.footer__container {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1500px) {
    width: 100%;
  }
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__item {
  color: #f0cca0;
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 900px) {
    margin: 5px 0;
    font-size: 18px;
  }
}

.footer__item-link {
  color: #f0cca0;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: white;
  }
}
