.fullScreen-photos {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.6);
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &--active {
    opacity: 1;
    visibility: visible;
    z-index: 20;
  }
}

.fullScreen-photos__container {
  display: flex;
  position: relative;
  width: auto;
  height: 100vh;
  transition: 0.3s;
  transform: translateX(0%);
}

.fullScreen-photos__item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
}

.fullScreen-photos__image {
  max-width: 800px;
  border-radius: 10px;
  @media (max-width: 700px) {
    max-width: 250px;
  }
  @media (max-width: 370px) {
    max-width: 200px;
  }
}

.fullScreen-photos__handler {
  position: fixed;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition: 0.3s;
  @media (max-width: 700px) {
    height: 50px;
    width: 50px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.nextPhoto {
  right: 10px;
  top: 50%;
  &:active {
    transform: scale(0.95) translateY(-50%);
  }
}

.prevPhoto {
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  &:active {
    transform: translateY(-50%) rotate(180deg) scale(0.95);
  }
}

.fullScreen-photos__close {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #d8a667;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: scale(0.95);
  }
}

.fullScreen-photos__close-icon {
  width: 100%;
  height: 100%;
}
