.app-container {
  width: 1500px;
  @media (max-width: 1500px) {
    width: 100%;
    padding: 0 10px;
  }
}
.defenition {
  background-image: url(../assets/images/main/backgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 250px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {
    // justify-content: flex-start;
    // align-items: flex-start;
    padding: 20px 0;
    flex-direction: column;
  }
}

.defenition__big-circle {
  height: 280px;
  width: 280px;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba($color: #f0cca0, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1500px) {
    height: 320px;
    width: 320px;
  }
  @media (max-width: 700px) {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.defenition__small-circle {
  height: 90%;
  width: 90%;
  background-color: rgba($color: #c4c4c4, $alpha: 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffe7ca;
  padding-top: 20px;
  position: relative;
  @media (min-width: 1500px) {
    height: 85%;
    width: 85%;
  }
  @media (max-width: 700px) {
    padding-top: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  a {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.small-circle__title {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 700px) {
    font-size: 24px;
  }
}

.small-circle__subtitle {
  font-size: 24px;
  font-weight: 300;
  @media (max-width: 700px) {
    font-size: 20px;
  }
}

.big-circle__selector {
  height: 180px;
  width: 180px;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba($color: #ffe7ca, $alpha: 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  @media (max-width: 700px) {
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba($color: #c4c4c4, $alpha: 0.5);
    border: 1px solid rgba($color: #ffe7ca, $alpha: 1);
    color: #ffe298;
  }
  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
  }
  &:after {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background-color: #f0cca0;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    transition: 0.3s;
    @media (max-width: 700px) {
      display: none;
    }
  }
  &:hover {
    background-color: rgba($color: #c4c4c4, $alpha: 0.5);
    border: 1px solid rgba($color: #ffe7ca, $alpha: 1);
    color: #ffe298;
    &:after {
      opacity: 1;
    }
  }
  &:active {
    background-color: rgba($color: #c4c4c4, $alpha: 0.8);
  }
  @media (min-width: 700px) {
    &--first {
      top: 0;
      transform: translate(0, -120%);
      &:after {
        transform: translate(0, 125px);
        transition: 0.3s;
      }
    }
    &--second {
      top: 0;
      transform: translate(140%, -40%);
      &:after {
        transform: translate(-130px, 55px);
        transition: 0.3s;
      }
      @media (min-width: 1500px) {
        transform: translate(147%, -40%);
      }
    }
    &--third {
      top: 0;
      transform: translate(130%, 108%);
      &:after {
        transform: translate(-123px, -60px);
        transition: 0.3s;
      }
      @media (min-width: 1500px) {
        transform: translate(149%, 108%);
      }
    }
    &--fourth {
      top: 0;
      transform: translate(0%, 175%);
      &:after {
        transform: translate(0px, -126px);
        transition: 0.3s;
      }
      @media (min-width: 1500px) {
        transform: translate(0%, 197%);
      }
    }
    &--fifth {
      top: 0;
      transform: translate(-128%, 110%);
      &:after {
        transform: translate(123px, -60px);
        transition: 0.3s;
      }
      @media (min-width: 1500px) {
        transform: translate(-146%, 114%);
      }
    }
    &--sixth {
      top: 0;
      transform: translate(-140%, -40%);
      &:after {
        transform: translate(130px, 55px);
        transition: 0.3s;
      }
      @media (min-width: 1500px) {
        transform: translate(-147%, -40%);
      }
    }
  }
}

.definition__phone-call {
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #f0cca0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  @media (max-width: 700px) {
    display: none;
  }
  &:hover {
    .definition__phone-icon-container {
      width: 90%;
      height: 90%;
      .definition__phone-call-icon {
        animation: none;
      }
    }
  }
}
.definition__phone-icon-container {
  height: 75%;
  width: 75%;
  background-color: rgba($color: #c4c4c4, $alpha: 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.definition__phone-call-icon {
  height: 60%;
  width: 60%;
  animation: phoneRing 2.5s ease-in-out infinite;
}

.definition__arrows {
  position: absolute;
  bottom: 50px;
  left: 100px;
  height: 60px;
  width: 60px;
  animation: arrowSliding 2.5s ease-in-out infinite;
  @media (max-width: 700px) {
    position: relative;
    left: 0;
    bottom: 0;
  }
  &:hover {
    animation: none;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
  width: 100%;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.about__information {
  flex: 2;
  display: flex;
  align-items: center;
  @media (max-width: 760px) {
    width: 100%;
    flex-direction: column;
  }
}

.information__image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8a667;
  border-radius: 50%;
  position: relative;
  padding: 30px;
  @media (max-width: 760px) {
    order: 2;
  }
  @media (max-width: 500px) {
    height: 85%;
    width: 85%;
    margin-top: 30px;
  }
}

.information__image {
  @media (max-width: 500px) {
    height: 100%;
    width: 100%;
  }
}

.information__image-article {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.information__content {
  margin-left: 50px;
  @media (max-width: 760px) {
    margin-left: 0;
  }
}

.information__content-title {
  font-size: 28px;
  color: #d8a667;
  text-transform: uppercase;
  font-weight: 400;
  @media (max-width: 760px) {
    text-align: center;
  }
}

.information__content-text {
  margin-top: 35px;
  font-size: 20px;
  color: #5a554e;
  font-weight: 300;
  text-align: justify;
  line-height: 28px;
}

.orange {
  color: #d39c56;
  font-weight: 400;
  margin-top: 30px;
}

.about__facts {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-15%);
  margin-left: 50px;
  @media (max-width: 1000px) {
    transform: none;
    margin-left: 0;
    margin-top: 50px;
  }
  @media (max-width: 760px) {
    width: 100%;
    justify-content: flex-start;
  }
}
.facts__title {
  color: #d8a667;
  font-size: 22px;
  font-weight: 500;
}

.facts__list {
  list-style: none;
  margin-top: 30px;
}

.facts__item {
  font-size: 18px;
  color: #6c7b65;
  margin-top: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: flex;
    background-color: #f0cca0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.message {
  background-image: url(../assets/images/main/backgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  @media (max-width: 1000px) {
    padding: 20px 0;
  }
}

.message__container {
  background-color: rgba(108, 123, 101, 0.75);
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1000px) {
    padding: 20px 0;
  }
}

.message__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.message__title {
  color: #fff9f1;
  font-size: 36px;
  line-height: 42px;
  width: 40%;
  font-weight: 300;
  @media (max-width: 1000px) {
    width: 100%;
    text-align: center;
    font-size: 32px;
  }
}

.message__description {
  width: 60%;
  @media (max-width: 1000px) {
    width: 100%;
    margin-top: 20px;
  }
}

.description__title {
  color: white;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 300;
  @media (max-width: 1000px) {
    font-size: 28px;
  }
}

.description__text {
  color: white;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  margin-top: 25px;
  font-weight: 300;
  @media (max-width: 1000px) {
    margin-top: 15px;
    font-size: 18px;
  }
}

.orange-text {
  color: #ffd6a3;
}

@keyframes phoneRing {
  5%,
  15%,
  25%,
  35%,
  45% {
    transform: rotate(17deg);
  }

  10%,
  20%,
  30%,
  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0);
  }
}

@keyframes arrowSliding {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(5px);
  }
  20% {
    opacity: 0.5;
  }
  30% {
    transform: translateY(10px);
  }
  40% {
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
