.section-header {
  background-image: url(../../assets/images/istoriya-marmoleuma/background_small.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 60px;
  @media screen and (max-width: 1200px) {
    padding: 50px 30px;
  }
  @media (max-width: $tablet) {
    padding: 30px;
  }
}

.section-header__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 44px;
  color: #f2d78f;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  @media (max-width: $tablet) {
    justify-content: flex-start;
    font-size: 18px;
    line-height: 18px;
  }
}

.block-text-image {
  display: flex;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.block-text-image__content {
  padding: 105px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #53514c;
  width: 50%;
  @media (max-width: 1500px) {
    padding: 60px;
  }
  @media (max-width: 1250px) {
    padding: 40px;
  }
  @media (max-width: 1100px) {
    width: 100%;
    order: 2;
  }
  @media (max-width: $mobile) {
    padding: 60px 32px 60px 32px;
  }
}

.block-text-image__title {
  font-size: 38px;
  line-height: 44px;
  color: #f0cca0;
  font-weight: 300;
  @media (max-width: $mobile) {
    font-size: 22px;
    line-height: 26px;
  }
}

.block-text-image__text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  color: white;
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
  }
}

.block-text-image__image {
  width: 50%;
  object-fit: cover;
  @media (max-width: 1100px) {
    width: 100%;
    order: 1;
  }
}

.block-text-image__with-text {
  width: 50%;
  background-color: #53514C;
  @media (max-width: 1100px) {
    width: 100%;
    order: 1;
  }
  @media screen and (max-width: $tablet) {
    background-color: rgba($color: #040404, $alpha: 0.9);
  }
  .block-text-image__image {
    width: 100%;
  }
  p {
    padding: 45px 32px;
    color: #F0CCA0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    @media screen and (max-width: $tablet) {
      font-size: 18px;
    }
    span {
      display: block;
      font-size: 24px;
      margin-top: 10px;
      @media screen and (max-width: $tablet) {
        font-size: 12px;
        line-height: 16px;
      }
      a {
        text-decoration: none;
        outline: none;
        color: #F0CCA0;
      }
    }
    @media screen and (max-width: $tablet) {
      padding: 20px 32px;
    }
  }
}
