.properties {
  background-image: url(../assets/images/marmoleum-eto/background_small.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.properties-content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1200px) {
    padding: 50px 32px;
  }
  @media (max-width: $tablet) {
    padding: 30px;
  }
}

.properties-content__icons {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  .icons__icon {
    margin: 0 30px;
    @media screen and (max-width: 1350px) {
      margin: 0 15px;
    }
    @media screen and (max-width: 1250px) {
      margin: 0 5px;
    }
  }
}

.properties-content__text {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  color: #f2d78f;
  text-transform: uppercase;
  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }
}

.design-header {
  background-image: url(../assets/images/marmoleum-eto/background_small.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.design-header-content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1200px) {
    padding: 50px 32px;
  }
  @media (max-width: $tablet) {
    padding: 30px;
  }
}

.design-header-content__icons {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  .design-header-icons__icon {
    margin: 0;
    @media (max-width: 1450px) {
      height: 90px;
      width: 90px;
    }
    @media (max-width: 1300px) {
      height: 70px;
      width: 70px;
    }
  }
}

.design-header-content__text {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  color: #f2d78f;
  text-transform: uppercase;
  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }
}

.design-mobile {
  display: none;
  @media (max-width: $tablet) {
    background-image: url(../assets/images/marmoleum-eto/background_small.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
  }
}

.design-mobile-icons {
  height: 50px;
  width: 50px;
}
