.about__side {
    background-image: url(../assets/images/collections/background_small.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    @media (max-width: $mobile) {
      padding: 20px 30px;
      justify-content: center;
    }
    @media (max-width: 330px) {
      padding: 5px;
    }
  
    img {
      margin-right: 10px;
      @media (max-width: $tablet) {
        height: 60px;
        width: 60px;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
    p {
      font-size: 32px;
      line-height: 37px;
      color: #f2d78f;
      font-weight: 400;
      @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 26px;
      }
      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
      }
    }
  }

  .collections {
    background-color: white;
    padding: 50px;
    @media screen and (max-width: 1000px) {
      padding: 20px 32px;
    }
  }
  
  .collections-title {
    color: #c29e71;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: $tablet) {
      font-size: 20px;
      line-height: 26px;
    }
  }
  
  .collections-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .collections-item {
    width: 30%;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
    &:hover {
      .collection-item__image-container {
        padding: 10px;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
        border: 2px solid #f0cca0;
      }
      .collection-item__image-hover {
        opacity: 1;
        visibility: visible;
        height: 95%;
        width: 95%;
      }
    }
  
    @media screen and (max-width: 1000px) {
      width: 48%;
      margin-top: 20px;
    }
    @media screen and (max-width: 370px) {
      width: 100%;
    }
  }
  
  .collection-item__link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .collection-item__image-container {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #f0cca0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    @media screen and (max-width: $tablet) {
      padding: 5px;
    }
  }
  
  .collection-item__image {
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }
  
  .collection-item__image-hover {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: rgba($color: #5a6356, $alpha: 0.8);
    height: 70%;
    width: 70%;
    border-radius: 50%;
    transition: 0.3s;
    color: #ffdf8b;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: "PT Serif", sans-serif;
    font-style: italic;
    opacity: 0;
    visibility: hidden;
    font-weight: bold;
    transition: 0.3s;
    @media screen and (max-width: $tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  
  .collection-item__name {
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
    color: #c29e71;
    font-weight: 300;
    text-align: center;
    @media screen and (max-width: $tablet) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 10px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  .collection-item__seporator {
    margin: 15px auto;
    width: 65%;
    height: 1px;
    background-color: black;
    @media screen and (max-width: $tablet) {
      margin: 5px auto;
    }
  }
  
  .collection-item__property {
    font-size: 20px;
    line-height: 26px;
    color: #6c7b65;
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-style: italic;
    font-weight: lighter;
    @media screen and (max-width: $tablet) {
      font-size: 14px;
      line-height: 18px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 12px;
      line-height: 16px;
    }
  }