.place {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 80px 0;
  background-color: white;
  @media screen and (max-width: $tablet) {
    padding: 56px 32px;
  }
}

.place-container {
  display: flex;
  align-items: center;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.place-content {
  text-align: right;
  margin-right: 70px;
  @media screen and (max-width: $tablet) {
    order: 1;
    margin-top: 100px;
    text-align: left;
    margin-right: 0;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-top: 0;
  }
}

.place-content__title {
  color: #c29e71;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  @media screen and (max-width: $mobile) {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
  }
}

.place-content__text-desktop {
  margin-top: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #8b8477;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.place__text-mobile {
  display: none;
  @media screen and (max-width: $mobile) {
    display: block;
    color: #8b8477;
    order: 3;
    margin-top: 50px;
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
    }
    ul {
      margin-top: 12px;
      list-style: none;
      li {
        font-size: 16px;
        font-weight: 300;
        margin-top: 7px;
        display: flex;
        align-items: center;
        &:first-child {
          margin-top: 0;
        }
        &::before {
          content: "";
          display: flex;
          height: 8px;
          width: 8px;
          background-color: #c29e71;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
}

.place-image {
  @media screen and (max-width: $mobile) {
    order: 2;
    margin-top: 20px;
  }
}

.place-image__container {
  border: 1px solid #f0cca0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 505px;
  width: 505px;
  position: relative;
  @media screen and (max-width: 550px) {
    width: 100%;
    height: 100%;
    padding: 25px;
  }
}

.place-image__image {
  height: 90%;
  width: 90%;
  @media screen and (max-width: 550px) {
    width: 100%;
    height: 100%;
  }
}

.place-container__left-arrow {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url(../../assets/images/primenenie-marmoleuma/arrow.svg);
  background-size: cover;
  background-position: center;
  transition: .2s;
  &:hover{
    background-image: url(../../assets/images/primenenie-marmoleuma/arrow-active.svg);
  }
  &:active {
    background-image: url(../../assets/images/primenenie-marmoleuma/arrow-active.svg);
    transform: translateY(-50%) scale(0.97);
  }
        
  @media screen and (max-width: $mobile) {
    height: 30px;
    width: 30px;
    left: 30px;
  }
}

.place-container__right-arrow {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image: url(../../assets/images/primenenie-marmoleuma/arrow.svg);
    background-size: cover;
    background-position: center;
    transition: .2s;
    &:hover{
      background-image: url(../../assets/images/primenenie-marmoleuma/arrow-active.svg);
    }
    &:active {
      background-image: url(../../assets/images/primenenie-marmoleuma/arrow-active.svg);
      transform: translateY(-50%) scale(0.97) rotate(180deg);
    }
          
    @media screen and (max-width: $mobile) {
      height: 30px;
      width: 30px;
      right: 30px;
    }
}

.place-image__name-container {
  border: 1px solid #f0cca0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 190px;
  position: absolute;
  bottom: -12%;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: $mobile) {
    height: 120px;
    width: 120px;
  }
}

.place-image__name-block {
  background-color: rgba(154, 151, 148, 0.53);
  height: 92%;
  width: 92%;
  border-radius: 50%;
  border: 1px solid #ffe7ca;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: $mobile) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.place.with-background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 80px 0;
  background-image: url(../../assets/images/primenenie-marmoleuma/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: $tablet) {
    padding: 56px 32px;
  }
  .app-container {
    .place-container {
      .place-content {
        text-align: left;
        margin-left: 70px;
        .place-content__title {
          color: #f2d78f;
        }
        .place-content__text-desktop {
          color: white;
        }
        @media screen and (max-width: $tablet) {
          margin-left: 0;
        }
      }
      .place__text-mobile {
        color: white;

        ul {
          li {
            &::before {
              background-color: #f2d78f;
            }
          }
        }
      }
    }
  }
}
