<div class="about__marmoleum">
  <h2 class="about__marmoleum-title">Вся правда о мармолеуме:</h2>
  <ul class="about__marmoleum-list">
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./marmoleum-eto.htm"
        >Мармолеум - это...</a
      >
    </li>
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./istoriya-marmoleuma.htm"
        >История</a
      >
    </li>
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./proizvodstvo-marmoleuma.htm"
        >Производство</a
      >
    </li>
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./primenenie-marmoleuma.htm"
        >Применение</a
      >
    </li>
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./svoistva-marmoleuma.htm"
        >Свойства</a
      >
    </li>
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./sertifikati-marmoleuma.htm"
        >Сертификаты</a
      >
    </li>
    <li class="about__marmoleum-item">
      <a class="about__marmoleum-link" href="./myths-o-marmoleume.htm"
        >Мифы о мармолеуме</a
      >
    </li>
  </ul>
</div>
