<footer class="footer">
  <div class="footer__container">
    <p class="footer__item">
      Москва:
      <a class="footer__item-link" href="tel:+74996004560"
        >+7 (499) 600-45-60</a
      >
    </p>
    <p class="footer__item">
      Санкт-Петербург
      <a class="footer__item-link" href="tel:+78126004560"
        >+7 (812) 600-45-60</a
      >
    </p>
    <p class="footer__item">
      email:
      <a class="footer__item-link" href="mailto:info@gelster.ru"
        >info@gelster.ru</a
      >
    </p>
  </div>
</footer>
