<section class="page-articles">
  <h4 class="page-articles__title">Также читайте о натуральном линолеуме:</h4>
  <div class="app-container">
    <div class="page-articles__container">
      <div class="page-articles__list">
        <div class="other-collection__item">
          <img
            class="page-articles__image"
            src="../assets/images/articles/history.jpg"
            alt="Статья об истории натурального линолеума"
          />
          <div class="page-articles__opacity-block"></div>
          <p class="page-articles__name">История натурального линолеума</p>
          <a class="page-articles__link" href="istoriya-marmoleuma.htm"></a>
        </div>
        <div class="other-collection__item">
          <img
            class="page-articles__image"
            src="../assets/images/articles/production.jpg"
            alt="Производство натурального линолеума"
          />
          <div class="page-articles__opacity-block"></div>
          <p class="page-articles__name">Производство натурального линолеума</p>
          <a class="page-articles__link" href="proizvodstvo-marmoleuma.htm"></a>
        </div>
        <div class="other-collection__item">
          <img
            class="page-articles__image"
            src="../assets/images/articles/property.jpg"
            alt="Статья о свойствах натурального линолеума"
          />
          <div class="page-articles__opacity-block"></div>
          <p class="page-articles__name">Свойства натурального линолеума</p>
          <a class="page-articles__link" href="svoistva-marmoleuma.htm"></a>
        </div>
        <div class="other-collection__item">
          <img
            class="page-articles__image"
            src="../assets/images/articles/sertificate.jpg"
            alt="Все сертификаты натурального линолеума"
          />
          <div class="page-articles__opacity-block"></div>
          <p class="page-articles__name">Сертификаты натурального линолеума</p>
          <a class="page-articles__link" href="sertifikati-marmoleuma.htm"></a>
        </div>
        <div class="other-collection__item">
          <img
            class="page-articles__image"
            src="../assets/images/articles/usage.jpg"
            alt="Где применяется натуральный линолеум"
          />
          <div class="page-articles__opacity-block"></div>
          <p class="page-articles__name">Применение натурального линолеума</p>
          <a class="page-articles__link" href="primenenie-marmoleuma.htm"></a>
        </div>
        <div class="other-collection__item">
          <img
            class="page-articles__image"
            src="../assets/images/articles/myth.jpg"
            alt="Мифы о натуральном линолеуме"
          />
          <div class="page-articles__opacity-block"></div>
          <p class="page-articles__name">Мифы о натуральном линолеуме</p>
          <a class="page-articles__link" href="myths-o-marmoleume.htm"></a>
        </div>
      </div>
    </div>
  </div>
</section>
